

        <h1> Café-Dessin Kesako ? </h1>

        <div>
          Café-Dessin, c’est des moments de rencontres artistiques, d’entraide et de partage. Dans l’idée de créer un réseau nantais accessible, amical et inclusif pour toutes personnes créatives. L’association est née du souhait de rompre avec la solitude des artistes indépendant·es souvent ressentie dans les métiers de la création.
          Les Café-Dessin sont des rencontres dans un café/bar nantais pour échanger sur nos créations, discuter et créer des synergies entre des personnes créatives professionnelles ou amatrices.
          En complément de ces premiers objectifs, l’association se donne pour mission de diffuser la pratique artistique auprès d’un large public. Pour cela, des ateliers seront organisés en collaboration avec des acteurs locaux. S’implanter au cœur de la vie culturelle nantaise est une des ambitions poursuivies par Café-Dessin.
        </div>
