
      <h1> Café-Dessin Kesaki ? </h1>

      <div>
        L’équipe Café-Dessin est constituée de 6 personnes. Nous sommes toutes très motivées et très enthousiastes à l’idée d’embarquer dans cette belle aventure !

L’association met un point d’honneur à créer une forme de collectif dans laquelle l’ensemble des membres peut participer aux décisions, et ainsi créer ensemble une association qui leur ressemble. C’est pourquoi nous avons choisi un mode de gouvernance collégiale. Nous sommes toutes présidentes-bénévoles au sein de Café-Dessin.

Manon - Graphiste illustratrice / Étudiante arts-plastiques
Mathilde - Illustratrice / Étudiante Motion Design
Anaïs - Illustratrice / AED
Justine - Ingénieure en développement web
Manuela - Graphiste illustratrice freelance
Anacris - Architecte

      </div>

